Repository RITlug/runbook, pull requests merged in 2018-02, with the labels that each got.

#25 Add Treasurer role to Runbook
  docs/roles/treasurer.rst
Labels: doc: Roles, new page

#24 Add additional server information.
  docs/infrastructure/hosted-server.rst
  docs/roles/project-coordinator.rst
  docs/roles/vice-president.rst
Labels: doc: Infrastructure

#26 Add GitHub organization documentation
  docs/_static/img/github-org-add-member.png
  docs/_static/img/github-org-teams.png
  docs/administration/github-org.rst
Labels: doc: Administration, new page

#28 Update copyright to 2018, RITlug Executive Board
  docs/conf.py
Labels: easyfix, enhancement

#29 Minor refactoring of hosted-server
  docs/infrastructure/hosted-server.rst
Labels: doc: Infrastructure, easyfix, enhancement

#27 Update Club Binder, Club Binder contents; follow style guide
  docs/administration/club-binder-contents.rst
  docs/administration/club-binder.rst
Labels: doc: Administration, enhancement

#30 Update the README to be meaningful again
  README.md
Labels: enhancement

#31 Re-license RITlug Runbook as CC-BY-SA 4.0 + MPL 2.0
  LICENSE
  LICENSE.txt
  README.md
Labels: question

#32 Add new page: Event Management System
  docs/_static/img/event-management-system-room-options.png
  docs/events/event-management-system.rst
Labels: doc: Events, new page

#33 Fix subtle yet important distinguishment
  README.md
Labels: easyfix, enhancement

#34 Update 'Managing CampusGroups' page
  docs/_static/img/campusgroups-management-officers-permissions.png
  docs/_static/img/campusgroups-management-officers.png
  docs/_static/img/campusgroups-management-page.png
  docs/_static/img/campusgroups-management-settings-address.png
  docs/administration/campusgroups-management.rst
  docs/conf.py
Labels: doc: Administration, enhancement
