Repository RITlug/runbook, pull requests merged in 2018-09, with the labels that each got.

#53 Update EMS registration & contact info
  docs/events/event-management-system.rst
Labels: doc: Events, enhancement

#56 Modernize IRC channel SOP (contributes to RITlug/tasks#8)
  docs/infrastructure/irc-channel.rst
Labels: doc: Infrastructure, enhancement

#55 Add contributing guidelines (closes #35); add pipenv support
  .github/CONTRIBUTING.md
  Pipfile
  Pipfile.lock
  README.md
Labels: enhancement, new page

#59 Document updating ritlug.com email aliases (closes #48)
  docs/_static/img/email-aliases/email-aliases-locate-01.png
  docs/_static/img/email-aliases/email-aliases-locate-02.png
  docs/administration/eboard-onboarding-offboarding.rst
  docs/tasks/update-email-aliases.rst
Labels: doc: Administration, doc: Tasks, enhancement, new page

#58 Add new page: Telegram (closes #44)
  docs/_static/img/telegram/telegram-add-admin-01.png
  docs/_static/img/telegram/telegram-add-admin-02.png
  docs/_static/img/telegram/telegram-add-admin-03.png
  docs/_static/img/telegram/telegram-add-admin-04.png
  docs/_static/img/telegram/telegram-group-overview.png
  docs/_static/img/telegram/telegram-moderation-01.png
  docs/infrastructure/telegram.rst
Labels: doc: Infrastructure, new page

#61 Add new page: President role (closes #50)
  docs/roles/president.rst
Labels: doc: Roles, new page

#57 Semester checklist update
  docs/tasks/semester-checklist.rst
Labels: doc: Tasks, enhancement

#66 Update Announcements Page
  docs/_static/img/campusgroups_add_clickboxes.png
  docs/_static/img/campusgroups_choosing_email_address.png
  docs/_static/img/campusgroups_compose_email.png
  docs/_static/img/campusgroups_create_email.png
  docs/_static/img/campusgroups_delivery_options.png
  docs/_static/img/campusgroups_email_recipients.png
  docs/_static/img/campusgroups_mailing_list.png
  docs/tasks/announcements.rst
Labels: doc: Tasks, enhancement
